@inject IJSRuntime JS

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="row g-3 align-items-center">
                    <div class="col-1 bg-info bg-opacity-25">
                        <label class="col-form-label fw-bold ">Id:</label>
                    </div>
                    <div class="col-1 bg-warning bg-opacity-25">
                        <label class="col-form-label">@Equipo.IDRegistro</label>
                    </div>
                    <div class="col-1 bg-info bg-opacity-25">
                        <label class="col-form-label fw-bold">Fecha:</label>
                    </div>
                    <div class="col-1 bg-warning bg-opacity-25">
                        <label class="col-form-label">@Equipo.Fecha.ToString("dd/MM/yyyy")</label>
                    </div>
                    <div class="col-1 bg-info bg-opacity-25">
                        <label class="col-form-label fw-bold">Hora:</label>
                    </div>
                    <div class="col-1 bg-warning bg-opacity-25">
                        <label class="col-form-label">@Equipo.Fecha.ToString("HH:mm")</label>
                    </div>
                    <div class="col-2 bg-info bg-opacity-25">
                        <label class="col-form-label fw-bold">Fecha Instalación:</label>
                    </div>
                    <div class="col-2 bg-warning bg-opacity-25">
                        <label class="col-form-label">@Equipo.FechaInstalacion.ToString("MM/dd/yyyy")</label>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <button class="btn btn-sm btn-outline-success" @onclick="ReturnAction" style="width:90px; height:24px; ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                    </svg>
                    Regresar
                </button>
            </div>

        </div>

        <div class="row">
            <div class="col-10">
                <div class="row g-3 align-items-center">
                    <div class="col-1 bg-info bg-opacity-25">
                        <label class="col-form-label fw-bold">Documento:</label>
                    </div>
                    <div class="col-1 bg-warning bg-opacity-25">
                        <label class="col-form-label">@Equipo.Documento</label>
                    </div>
                    <div class="col-1 bg-info bg-opacity-25">
                        <label class="col-form-label fw-bold">Cliente:</label>
                    </div>
                    <div class="col-7 bg-warning bg-opacity-25">
                        <label class="col-form-label">@Equipo.ApellidoCliente + @Equipo.NombreCliente</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-10">
                <div class="row g-3 align-items-center">
                    <div class="col-1 bg-info bg-opacity-25">
                        <label class="col-form-label fw-bold">Domicilio:</label>
                    </div>
                    <div class="col-4 bg-warning bg-opacity-25">
                        <label class="col-form-label">@Equipo.DomicilioInstalacion</label>
                    </div>
                    <div class="col-1 bg-info bg-opacity-25">
                        <label class="col-form-label fw-bold">Ent.calles:</label>
                    </div>
                    <div class="col-4 bg-warning bg-opacity-25">
                        <label class="col-form-label">@Equipo.EntreCalles</label>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <button class="btn btn-sm btn-outline-danger" @onclick="GenerarPdf" style="width:90px; height:24px; ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z" />
                    </svg>
                        Generar Pdf
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-10">
                <div class="row g-3 align-items-center">
                    <div class="col-1 bg-info bg-opacity-25">
                        <label class="col-form-label fw-bold">Pedido:</label>
                    </div>
                    <div class="col-2 bg-warning bg-opacity-25">
                        <label class="col-form-label">@Equipo.Pedido</label>
                    </div>
                    <div class="col-1 bg-info bg-opacity-25">
                        <label class="col-form-label fw-bold">Tipo Instal.:</label>
                    </div>
                    <div class="col-2 bg-warning bg-opacity-25">
                        <label class="col-form-label">@Equipo.TipoInstalacion</label>
                    </div>
                    <div class="col-1 bg-info bg-opacity-25">
                        <label class="col-form-label fw-bold">Es Avería:</label>
                    </div>
                    <div class="col-1 bg-warning bg-opacity-25">
                        <label class="col-form-label">@Equipo.EsAveria</label>
                    </div>
                    <div class="col-1 bg-info bg-opacity-25">
                        <label class="col-form-label fw-bold">Auditado:</label>
                    </div>
                    <div class="col-1 bg-warning bg-opacity-25">
                        <label class="col-form-label">@Equipo.Auditado</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <GenericList MyList="Equipos">
        <Body>
            <table class="table table-sm table-info table-striped">
                <thead>
                    <tr>
                        <th>N° Serie</th>
                        <th>Cod. Siag</th>
                        <th>Cod. Sap</th>
                        <th>Nombre Equipo</th>
                        <th>Foto</th>
                        <th style="width:60px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var equipo in Equipos!)
                    {
                        <tr>
                            <td>
                                @equipo.NROSERIEINSTALADA
                            </td>
                            <td>
                                @equipo.CODSIAG
                            </td>
                            <td>
                                @equipo.CODSAP
                            </td>
                            <td>
                                @equipo.NombreEquipo
                            </td>
                            @if (@equipo.LinkFotoFullPath == null || @equipo.LinkFotoFullPath == "" || @equipo.LinkFotoFullPath == string.Empty)
                            {
                                <td></td>
                            }
                            else

                            {
                                <td><img src="@equipo.LinkFotoFullPath" width="80" /></td>
                            }
                            <td>
                                <a href="/equipos/edit/@equipo.IDDETALLE" class="btn btn-sm btn-warning btn-sm">
                                    <i class="bi bi-pencil-square" />
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="white" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GenericList>





    @if (Photos is not null)
    {
        <CarouselView Images="Photos" />
    }

</EditForm>


@code{
    private EditContext editContext = null!;
    private String nombreArchivo = string.Empty;

    [EditorRequired, Parameter] public AppInstalacionesEquipo Equipo { get; set; } = null!;
    [EditorRequired, Parameter] public List<AppInstalacionesEquiposDetalle> Equipos { get; set; } = null!;
    [EditorRequired, Parameter] public List<string> Photos { get; set; } = null!;
    [EditorRequired, Parameter] public EventCallback OnValidSubmit { get; set; }
    [EditorRequired, Parameter] public EventCallback ReturnAction { get; set; }
    [Inject] private SweetAlertService SweetAlertService { get; set; } = null!;
    
    protected override void OnInitialized()
    {
        editContext = new(Equipo);
    }

    public bool FormPostedSuccessfully { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formWasEdited = editContext.IsModified();

        if (!formWasEdited || FormPostedSuccessfully)
        {
            return;
        }

        var result = await SweetAlertService.FireAsync(new SweetAlertOptions
                {
                    Title = "Confirmación",
                    Text = "¿Deseas abandonar la página y perder los cambios?",
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton = true
                });

        var confirm = !string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        context.PreventNavigation();
    }

    private async Task GenerarPdf() 
    {
        nombreArchivo = $"Instalación {Equipo.IDRegistro}.pdf";
        await JS.InvokeVoidAsync("GenerarPDF", nombreArchivo, Equipo.NombreCompleto, Equipo.Documento);
        }

    
}


